<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<head>
    <h2>Alinochka blog</h2>
</head>
    <form action="/" method="post">
        {% csrf_token %}
        <button type="submit" formaction="/creating/">Create note</button>
    </form>

<body>
    <style>
        .leftstr, .rightstr {
        float: left;
        width: 50%;
        }
        .rightstr {
        text-align: center;
        }
    </style>
    <h3 class="leftstr">Here will be linguistic kingdom</h3>
    <h4 class="rightstr"><a href="/login">Join me</a></h4>
    <hr>
    {% for post in posts %}
    <ul>
        {{ post.created_on }}
        <br>
        <strong>{{ post.title }}</strong>
        <br>
        {{ post.content }}
    </ul>
    <hr>
    {% endfor %}
    <br>
    <br>
    <form action="/" method="POST">
        {% csrf_token %}
        <input type="text" name="q">
        <br>
        <br>
        <button type="submit" formaction="/">Search</button>
    </form>
</body>